.box50{
    width:40px;
    height:40px;
    text-align:center;
    line-height: 40px;
    display: inline-block;
}

/* a{
    color:white;
    transition: color 0.3s ease;
}

a:hover{
    color:yellow;
} */


.myfooter ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.myfooter p{
    opacity: 0.5;
    text-shadow: 1px 1px 3px rgba(77, 50, 50, 0.5);
}

.myfooter ul>li>a{
    text-decoration: none;
    color:white;
    opacity: 0.5;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.mymaincontent .container .cate-list{
    margin-top: 10px;
    border: 1px ;
}

.mymaincontent .container .cate-list .item .category-icon{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}

.mymaincontent .container .cate-list .item img {
    margin-top: 15px;
    margin-left: 60px;
    width: 40%;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
  /* top: 50%;
  left: 50%; */
} 

.mymaincontent .container .cate-list .item h5 {
    font-style: initial; 
    font-size:14px;
    font-weight:inherit
}

.product_list-s{
    padding-top: 30px;
    padding-left: 20px;
    border:3px solid orangered;
    background-color: orangered;
    border-radius: 1%;
}

.product_list-s .imd{
    width: 200px;
    height: 275px;
    background-color: white;
    margin-left: 15px;
    border-radius: 4%;
    margin-bottom: 10px;
}

.product_list-s h4,h3{
    font-style: initial; 
    font-size:14px;
    font-weight:600;
    color:red;
}

.product_list-s img{
    margin-left: 5px;
    margin-top: 10px;
    /* width:80%;
    height: 100%; */
    border: 1px ;
    border-radius: 4%;
    margin-bottom: 10px;
}

.cate{
    background-color: orangered;
    border-radius: 6%;
}

/* .myfooter .container p, ul>li>a{
    opacity: 0.5;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
} */



.area_promo {
    border: 1px solid #ddd;
    display: block;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    margin: 5px 10px 12px;
    padding-bottom: 10px;
}

.area_promo strong {
    display: block;
    overflow: hidden;
    font-size: 15px;
    padding: 15px 15px 10px 15px;
    text-transform: uppercase;
    /*Viết thành chữ hoa*/
}

.area_promo .promo {
    display: block;
    overflow: hidden;
    font-size: 14px;
    padding: 0 15px 5px 40px;
}

.promo img {
    width: 14px;
    height: 14px;
    float: left;
    margin: 2px 0 0 -20px;
}


.policy {
    display: block;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-top: 10px;
    margin: 0 10px 10px 10px;
    padding-bottom: 5px;
}

.policy div {
    display: block;
    overflow: hidden;
    padding: 5px 0 5px 5px;
    font-size: 14px;
    line-height: 20px;
    margin: 0 10px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}

.policy div img {
    background: #fff;
    display: block;
    width: 20px;
    height: 17px;
    float: left;
    margin: 3px;
}

.policy div p {
    margin: 0 0 0 28px;
    color: #288ad6;
}

.policy div.last {
    border-bottom: 0px;
}

.breadcrumb{
    background-color: transparent;
    padding: 0px;
    
}
.breadcrumb li{
    margin-right: 10px;
}
.breadcrumb li>a{
    text-decoration: none;
}


.cart_icon{
    position: fixed;
    z-index: 999999;
    right:0px;
    top:45%;
    display: flex;
}

.cart_icon img{
    width:45px;
}

.cart_icon .cart_count{
    background-color: red;
    color:white;
    font-size: 16px;
    padding: 1px 10px;
    font-weight: bold;
    border-radius: 12px;
    position: fixed;
    right:40px;
}

/*-------*/
